<footer class="footer-area">
    <!-- Footer Top -->

    <div class="footer-top">
        <div class="container">
            <div style="text-align:center" class="row">
                <div class="col">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Logo -->
                        <a class="navbar-brand" href="https://contactini.fr">
                            <img width="250px" src="assets/img/contactini.png" alt="Digital Card">
                            <!-- <embed style="width: 160px; height: 160px;" src="assets/img/duniz.svg" alt=""> -->
                        </a>
                        <p>L'achat d'une carte est nécessaire afin d'accéder à notre plateforme.</p>
                         <a  href="https://contactini.fr" target="_blank" class="btn btn-bordered-white" >Nos cartes</a>

                      
                    </div>
                        <!-- Social Icons 

                    <div  class="social-icons d-flex justify-content-center m-5">
                        <a class="facebook" href="#">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fab fa-tiktok"></i>
                            <i class="fab fa-tiktok"></i>
                        </a>
                        <a class="google-plus" href="#">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-instagram"></i>
                        </a>
             
                    </div>
                    -->
                </div>
           

            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <!-- Copyright Left -->
                        <div class="copyright-left">&copy;2024 <a href="https://contactini.fr">Contactini</a>, All Rights Reserved.</div>
                        <!-- Copyright Right -->
                        <div class="copyright-right">By Contactini</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>